<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

<!-- FACEBOOK TAGS -->
    <!-- <meta property="og:url" content="http://www.learningmotors.herokuapp.com"/>
    <meta property="og:site_name" content="Learning Motors"/>
    <meta property="og:title" content="Learning Motors"/>
    <meta property="og:description" content="Using machine learning to solve a real world problem"/>
    <meta property="og:image" content="https://www.learningmotors.herokuapp.com/share_image.png"/> -->

<!-- TWITTER TAGS -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@learning_motors">
    <meta name="twitter:creator" content="@__zinger__">
    <meta name="twitter:title" content="Learning Motors">
    <meta name="twitter:description" content="Using machine learning to solve a real world problem">
    <meta name="twitter:image" content="https://learningmotors.herokuapp.com/share_image.png">

<!-- OTHER -->
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.png">
    <title>Learning Motors</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
