<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

<!-- FACEBOOK TAGS -->
    <meta property="og:url" content="http://www.gojack.us"/>
    <meta property="og:site_name" content="Jack"/>
    <meta property="fb:app_id" content="180704942434709"/>
    <meta property="og:title" content="Get Jack"/>
    <meta property="og:description" content="Come join the party!"/>
    <meta property="og:image" content="http://www.gojack.us/jack-facebook-banner-simple.png"/>
    <title>Jack</title>

<!-- TWITTER TAGS -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@learning_motors">
    <meta name="twitter:creator" content="@__zinger__">
    <meta name="twitter:title" content="Learning Motors">
    <meta name="twitter:description" content="Using machine learning to solve a real world problem">
    <meta name="twitter:image" content="http://www.gojack.us/jack-facebook-banner-simple.png">

<!-- OTHER -->
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.png">
    <title>Learning Motors</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
